html{
  background-color: #ffa476;
}

h1 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #FFEBE1;
  font-size: 50px; padding:0px 100px 0px 330px;  
}
h2 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #FFEBE1;
   font-size: 30px;
  padding:0px 0px 0px 250px;  
}
.contenedor-columnas{  
  max-width:800px;  
  margin: auto;  background-color: #FFCFB7;  padding:50px;}

p {

  width:1030px;
  margin:15px;
  padding:15px 10px 20px 150px;  
  font-size: 10px;
  font-size: 17px;
  color: 		brown;
  align: center;
   font-family: "Open Sans", sans-serif;
}
h3{
  text-align: center;
  width:720px;
  margin:20px;
  padding:20px;
  font-size: 10px;
  font-size: 20px;  
  color: 		brown;
   font-family: "Open Sans", sans-serif;
  
}.columnas{  column-count: 1;
  column-gap: 10px; /10/  column-rule: 1px outset #999999}

ol {margin:10px;
  padding:10px;
  padding: 10px 90px 10px 130px;  
  color: 		brown;
   font-family: "Open Sans", sans-serif; font-size: 10px;
  font-size: 17px;
    
}em {
  font-weight: bold;
}
img {
  width: 300px;
  font-size: 20px;
  margin: 100 ;
  padding: 20px 30px 20px 40px;
   float: left;
  margin-right: 15px;
}
h5{padding: 0px 0px 0px 220px;
}